h1 {
  font-family: Poppins;
  font-weight: bold;
  color: #000000;
}
h3 {
  font-family: Poppins;
  color: darkred;
}
p {
  font-family: "Arial", Verdana, Sans-serif;
  font-size: 20px;
  color: gray;
}
body {
  background-image: linear-gradient(white, azure, white)
}
img {
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
}
table.highlight {
  background-color: black;
}
p.border {
  border-top:5px solid teal;
  border-right:5px silver;
  border-bottom: 5px teal;
  border-left: 5px silver;
}
#underline {
  text-decoration: underline;
}
#shadow {
  box-shadow:10px 10px;
}
#border {
  border: 5px solid teal;
}
* [lang^=en] {
  background-color: #F0FFFF;
}
a:hover {
  color:red;
}
p {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-left: 30px;
}
