h1 {
  font-family: Poppins;
  font-weight: bold;
  color: black;
  text-align: center;
}
h3, h2 {
  font-family: Poppins;
  color: darkblue;
  text-align: center;
}
p {
  font-family: Poppins;
  font-size: 20px;
  color: black;
  text-align: center;
}
body {
  background-color: #AFEEEE;
}
img {
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
  align: center;
}
table {
  width: 60%;
  margin-left:300px;
  background-color: aliceblue;
}
th, td {
    padding: 10px 10x 10x 10x;
}
th, td {
    border-bottom: 2px solid black; 
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;               
    text-transform: uppercase;
}
ul {
  list-style-type: square;
  font-family: Poppins;
  align: center;
  border-bottom: 2px solid teal; 
  border-top: 2px solid teal;
  border-left: 2px solid teal;
  border-right: 2px solid teal;  
  margin-left: 250px;
  margin-right:250px;
  }
ol {
  font-family: Poppins;
  align: center;
  border-bottom: 2px solid teal; 
  border-top: 2px solid teal;
  border-left: 2px solid teal;
  border-right: 2px solid teal;    
  margin-left: 250px;
  margin-right:250px;
  }
img {
  border: 5px solid black;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 200px;
  margin-left: 200px;
}
p.border {
  border-top:5px solid aliceblue;
  border-right:5px aliceblue;
  border-bottom: 5px aliceblue;
  border-left: 5px aliceblue;
}
p.font {
  font-style: italic;
} 
table.highlight {
  background-color: aliceblue;
}
#underline {
  text-decoration: underline;
}
#corner {
  border-radius: 10px;
  padding: 20px; 
}
* [lang^=en] {
  background-color: #F0FFFF;
}
a:hover {
  color:red;
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
